// styles from FullPizza Page

.about {
  display: grid;
  grid-template-rows: 50px 1fr max-content;
  padding: 0 20px;

  h2 {
    margin: 0;
  }

  .description {
    margin-bottom: 25px;

    h4 {
      margin-bottom: 10px;
    }
  }

  .ingredients {
    margin-bottom: 15px;
  }

  .nutrients {
    display: grid;
    grid-template-columns: minmax(max-content, 0.7fr) 1fr;

    div:first-of-type,
    div:last-of-type {
      display: grid;
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        max-height: 45px;
        min-width: 160px;
      }

      @media (max-width: 480px) {
        flex-direction: column;

        button {
          margin: 15px 0;
        }
      }
    }
  }
}

// skeleton

.about {
  width: 100%;

  @media (max-width: 1060px) {
    width: 95%;
  }
}

.pizzaBlock {
  background-color: #eee;
  border-radius: 50%;
  width: 350px !important;
  height: 350px;
  aspect-ratio: 1 / 1;

  @media (max-width: 520px) {
    width: 250px !important;
    height: 250px;
  }
}

.title {
  width: 180px;
  height: 32px;
  background-color: #eee;
  border-radius: 12px;
}

.ingredients {
  h3 {
    width: 120px;
    height: 28px;
    background-color: #eee;
    border-radius: 12px;
    margin-bottom: 16px;
  }

  span {
    display: block;
    width: 120px;
    margin-bottom: 10px;
    height: 22px;
    background-color: #eee;
    border-radius: 12px;

    &:nth-child(2) {
      width: 100%;
    }

    &:nth-child(3) {
      width: 40%;
    }
  }
}

.description {
  h4 {
    width: 230px;
    height: 28px;
    background-color: #eee;
    border-radius: 12px;
    margin-bottom: 16px;
  }
}

.nutrientsNames {
  span {
    display: block;
    margin-bottom: 10px;
    width: 140px;
    height: 18px;
    background-color: #eee;
    border-radius: 12px;

    &:nth-child(1) {
      width: 140px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 60px;
    }
    &:nth-child(4) {
      width: 80px;
    }
  }
}

.nutrientsValues {
  span {
    display: block;
    margin-bottom: 10px;
    width: 75px;
    height: 18px;
    background-color: #eee;
    border-radius: 12px;

    &:nth-child(1) {
      width: 75px;
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 40px;
    }
  }
}

.bottom {
  width: 100%;
  height: 150px;

  :first-child {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 8px;
  }

  .actions {
    width: 100%;
    height: 70px;
    min-height: 42px;
    border-radius: 12px;
    margin-top: 20px;

    div {
      width: 180px;
      height: 32px;
      border-radius: 12px;
      background-color: #eee;
    }

    span {
      width: 100px;
      height: 28px;
      background-color: #eee;
      border-radius: 12px;
    }
  }
}
