@import '../../scss/variables';

.root {
  margin-top: 15px;

  li {
    display: inline-block;

    .selected {
      background-color: #fe5f1e;
      color: #fff;
    }

    a {
      text-align: center;
      width: 40px;
      line-height: 20px;
      height: 40px;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      user-select: none;
      display: inline-block;
      color: #fe5f1e;
      transition: background-color $duration ease-in-out, border-color $duration ease-in-out;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
